
{% extends 'base.html' %}
{% block content  %}
<a href="{% url 'home'   %}" class="btn btn-secondary"> Back</a>
<br>
{% block title  %}
    Blog : {{post.pk}} - {{post.title}}
    <br>
    
{% endblock %}





    <h1> {{post.title}}
        <br>
        {% if post.picture %}
        <img src="{{post.picture.url}}" widht="150" height="150">
        {% endif %}
        

    </h1>
    Body : {{post.body}}
    <br>
    <small>By:  {{post.author}}
    </small><br>

    <h5>Comments :</h5>
    {% if not post.comments.all %}
    No comments on this posts yet 
    <a href="{% url 'comment_create' post.id  %}">Add comment </a>
    {% else %}
    <a href="{% url 'comment_create' post.id  %}">Add comment </a>
    <br>
        {% for comment in post.comments.all %}


            <storng>
            {{comment.name}}</storng> -{{comment.date_added}} 
        
        <br>
        {{comment.body}}
        <a href="{% url 'comment_delete' comment.id %}"> Delete </a>
        <a href="{% url 'comment_update' comment.id %}"> Update </a>
        
        <br>
        {% endfor %}
    {% endif %}


    {% endblock %}