{% extends 'base.html' %}
{% load static %}
{% block title %}
    Blogs
{% endblock %}

{% block content %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h2>Blog</h2>
                <p>Latest insights and articles.</p>
            </div>

            {% for post in object_list %}
            <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="{{ forloop.counter0|add:0.3 }}s">
                <div class="blog-thumb">
                    <span class="blog-date">{{ post.category }} / {{ post.created_at|date:"F j, Y" }}</span>
                    <h3 class="blog-title">
                        <a href="{% url 'article_detail' post.id %}">{{ post.title }}</a>
                    </h3>
                    <h5 id="blog-author">by {{ post.author.first_name }} {{ post.author.last_name }}</h5>
                    
                    {% if post.picture %}
                        <img src="{{ post.picture.url }}" alt="{{ post.title }}" width="100%">
                    {% endif %}
                    
                    <p>{{ post.body|truncatewords:30 }}</p> <!-- Limit to first 30 words for preview -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
