{% load static %}

{% block content %}


<div style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
    <h2>Supprimer le Feedback</h2>

    <p>Êtes-vous sûr de vouloir supprimer ce feedback?</p>
    
    <div style="border: 1px solid #ddd; padding: 15px; border-radius: 8px; background-color: #f9f9f9;">
        <strong>{{ feedback.feedback_choice}}</strong>
        <p>Évaluation : 
            {% for i in "12345" %}
                {% if i|add:0 <= feedback.rating %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </p>
        <p>Niveau de satisfaction : <strong>{{ feedback.satisfaction }}</strong></p>
        <p>{{ feedback.comments }}</p>
        <p>Soumis le : {{ feedback.date_created|date:"d M Y H:i" }}</p>
    </div>

    <form method="post" style="margin-top: 20px;">
        {% csrf_token %}
        <button type="submit" style="background-color: #FF5733; color: white; padding: 10px 20px; border-radius: 5px;">Confirmer la Suppression</button>
    </form>

    <div style="margin-top: 20px;">
        <a href="{% url 'feedback_list' %}" style="text-decoration: none; color: #007BFF;">Annuler</a>
    </div>
    
</div>
<!-- Footer -->
<div style="background-color: #26253a; color: whitesmoke; padding: 20px 0; margin-top: 30px;">
    <div style="text-align: center;">
        <p>&copy; 2024 NutriMove. Tous droits réservés.</p>
        <p>
            <a href="/contact" style="color: whitesmoke; text-decoration: none; margin: 0 10px;">Contact</a> | 
            <a href="/about" style="color: whitesmoke; text-decoration: none; margin: 0 10px;">À propos</a>
        </p>
    </div>
</div>
{% endblock %}
